{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    Biblios

    Catalogue en ligne de la médiathèque de Trifouillis-les-Oies
    
    Biblios: qu'est-ce que c'est ?
    
    Biblios est la plateforme officielle de consultation du catalogue de la médiathèque de Trifouillis-les-Oies. Explorez notre collection avec une recherche efficace, vérifiez la disponibilité des ouvrages en temps réel, et effectuez des réservations en toute simplicité. Biblios s'engage pour faciliter l'accès à la culture et promouvoir la richesse de notre patrimoine littéraire.
    
    Fonctionnalités clés :
    
        Recherche avancée de livres
    
        Consultation en temps réel du statut des ouvrages (disponible, emprunté, indisponible)
    
        Affichage détaillé des informations sur les livres
    
        Processus de réservation simplifié
</div>
{% endblock %}
